<div class="row border-bottom my-4 py-4">
    <div class="col-12">
        <form action="">
            <div class="row">
                <div class="col-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #nameInput>
                </div>
                <div class="col-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" min="1" class="form-control" #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success shadow" type="submit" (click)="onAddItem()">Add</button>
                    <button class="btn btn-danger shadow mx-2" type="button">Delete</button>
                    <button class="btn btn btn-warning shadow" type="button">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>